CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*
build/
build-*
__pycache__/
diff_evolve_fir_temp_*.txt
bench/rtl32/de32_*.out
bench/rtl32/live_*.log
bench/rtl32/live_*.txt
bench/rtl32/capbw
bench/rtl32/capbw_hb
bench/rtl32/droptest*.log
bench/rtl32/smoke*.log
bench/rtl32/regdump2_v
bench/rtl32/regdump2_s
